.ant-card {
  width: 300px;
}
.ant-card-body {
  background-color: #279ca4;
}

/* .ant-select-arrow {
} */

.ant-select-single {
  width: 150px;
}

.ant-picker {
  margin-top: 10px;
  width: 150px;
}

.ant-picker-input-placeholder {
  width: 50px;
}
