.addProtocol {
  height: 1100px;
}

.addProtocolTitle {
  font-size: 23px;
  text-align: center;
}

.allDropdowns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: auto;
  margin-top: 10px;
}

.protocolName {
  text-align: center;
  margin-bottom: 10px;
  font-size: 19px;
}

.surveyName {
  margin-left: 10px;
  font: 10px;
}

.surveySelection {
  width: fit-content;
  padding: 5px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 8px;
  margin: 15px 10px;
}

.addWeek {
  justify-content: center;
  width: 84px;
  font-size: 12px !important;
  margin-top: 5px;
  /* margin-left: 22px; */
  /* margin-top: -0.1px; */
  margin-right: 415px;
}

.surveySelection {
  border: 1px solid rgb(134, 133, 133);
  width: fit-content;
  height: 40px;
  display: flex;
  margin-left: 15px;
  flex-direction: row;
}

.surveyBox {
  position: relative;
  display: table-cell;
  margin-left: 10px;
}

.deleteWeek {
  display: flex;
  margin-left: 380px;
  font-size: 12px !important;
  cursor: pointer;
  background-color: #ff7c7c;
}

.deleteSurvey {
  cursor: pointer;
  color: rgb(90, 89, 89);
  margin-top: -7px;
  display: flex;
  position: absolute;
  top: 20px;
  left: 1px;
  font-size: 15px;
}

.submitProtocol {
  font-size: 17px !important;
  margin-top: 20px;
  height: 40px !important;
  width: 109px;
}
.filterSurvey {
  width: 80px !important;
  margin-left: 320px !important;
}
