.ant-collapse {
  width: 500px;
}

.ant-collapse-header {
  cursor: default;
}

.ant-btn-secondary {
  margin-right: 10px;
}

/* add button span */
.ant-btn > span {
  display: inline-block;
  margin: -10px;
}
