.header {
  height: 60px;
  display: flex;
  align-items: center;
  position: sticky;
  background-color: #131921;
  top: 0;
  z-index: 100;
}

.logo {
  position: absolute;
  left: 50%;
  top: 5%;
}
